.search {
    margin-bottom: 20px;
    padding: 5px;

    input {
        border-radius: 5px;
    }

    .btn-search {
        border-radius: 3px;
        background-color: inherit;
        border: 0.3px solid black
    }
    

}